.clear {
  color: var(--primary-color);
  padding: 0;
  border: none;
  background: none;
}

.outline {
  color: var(--primary-color);
  padding: 10px 15px;
  border: var(--primary-color)  1px solid;
  background: none;
}